@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #051a17;
    --background: #e9fbf8;
    --primary: #157e72;
    --secondary: #7973e8;
    --accent: #7e21c4;
  }
  .dark {
    --text: #e3faf7;
    --background: #041613;
    --primary: #7fe9dc;
    --secondary: #1d178b;
    --accent: #993cde;
  }

  body {
    @apply bg-background text-text;
  }
}
